body {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #c5aa91;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #b38c67;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}

/* Add more styles based on your creativity and design preferences */